# This is a base environment that doesn't include any YOLO-specific dependencies.  Use this 
# if you plan to import YOLO dependencies from the PYTHONPATH.
name: megadetector-no-yolo

channels:
  - conda-forge
  - pytorch
  - nvidia

dependencies:
  - python>=3.8,<3.15

  # Not imported directly, but we force this version to avoid this issue:
  #
  # https://github.com/pytorch/pytorch/issues/123097
  #
  # ...but we do this via pip, since it breaks conda's dependency resolver.
  #
  # - mkl=2024.0
  
  # To use ultralytics-yolov5, we need to use an old version of numpy, because
  # of the removal of np.int in numpy 1.24.0.  Even if we relaxed that requirement
  # or patched np.int, we definitely don't want numpy>=2.0.
  - numpy=1.23.5
    
  # ultralytics-yolov5 has a dependency on FreeTypeFont.getsize(), which was
  # removed in Pillow 10, so we force Pillow < 10.0
  - Pillow>=9.1.0,< 10.0
  
  - tqdm>=4.64.0
  - jsonpickle>=3.0.0
  - humanfriendly>=10.0  
  - matplotlib>=3.8.0
  - opencv>=4.8.0
  - requests>=2.31.0
  - fastquadtree>=1.1.2
  - scikit-learn>=1.3.1
  - pandas>=2.1.1
  
  - send2trash
  - python-dateutil
  - pytest
  
  # Not used directly, but required for deserializing some models
  - dill
  
  # Not used directly, but used by YOLO libraries
  - seaborn>=0.12.2
  - PyYAML>=6.0.1
    
  - pytorch::pytorch>=2.0
  - pytorch::torchvision>=0.15.0
  - pytorch::pytorch-cuda=11.8

  # For running MegaDetector v4
  # - tensorflow>=2.0,<=2.10
