########
#
# pip environment file for MegaDetector
#
# mamba create -n md-pip python=3.11 pip -y && mamba activate md-pip
#
########

# Not imported directly, but we force this version to avoid this issue:
#
# https://github.com/pytorch/pytorch/issues/123097
mkl == 2024.0; sys_platform != 'darwin'
  
# To use ultralytics-yolov5's val.py, we need to use an old version of numpy, 
# because of the removal of np.int in numpy 1.24.0.  This is only necessary if 
# you're going to use the full val.py suite in ultralytics-yolov5.  If you pin 
# numpy here, do it again in the pip section below.
# numpy == 1.23.5
numpy >=1.22, < 2.0

# ultralytics-yolov5 has a dependency on FreeTypeFont.getsize(), which was
# removed in Pillow 10.  Restrict to <10.0 if you want to use val.py from 
# ultralytics-yolov5.
# Pillow >= 9.5.0, < 10.0
Pillow >= 9.5.0

tqdm >= 4.64.0
jsonpickle >= 3.0.2
humanfriendly >= 10.0
matplotlib >= 3.8.0
opencv-python >= 4.8.0
requests >= 2.31.0
fastquadtree >= 1.1.2, < 2.0
scikit-learn >= 1.3.1
pandas >= 2.1.1

python-dateutil
send2trash
pytest

# Not imported directly, but required to de-serialize some models
dill

--extra-index-url https://download.pytorch.org/whl/cu118
torch >= 2.0
torchvision >=0.15.0

# I am still experimenting with how I can get albumentations installed
# without opencv-python-headless when opencv-python is already installed.
#
# See:
#
# https://github.com/albumentations-team/albumentations/issues/1785
#
# albumentations>=1.0.3

# "ultralytics-yolov5" is the frozen-in-time YOLOv5:
#
# https://pypi.org/project/ultralytics-yolov5/
#
# ...which is different than "pip install yolov5", which installs:
#
# https://pypi.org/project/yolov5/
#
# Make sure this appears *after* the torch installation
ultralytics-yolov5 == 0.1.1

# "yolov9-pip" is the frozen-in-time YOLOv9:
#
# https://github.com/kadirnar/yolov9-pip
# https://pypi.org/project/yolov9pip/
#
# ...which is different from either of these:
#
# https://pypi.org/project/pyyolov9/
# https://pypi.org/project/yolov9py/
yolov9pip == 0.0.4

# Don't install ultralytics; if the user wants to run an ultralytics-trained
# model, we'll tell them to install the ultralytics package
#
# ultralytics
