#
# Requirements file used just for testing various ways of importing YOLO and Torch.
#
Pillow
tqdm
jsonpickle
humanfriendly
numpy
matplotlib
opencv-python
requests
pyqtree
scikit-learn
pandas
seaborn
PyYAML

