#
# Experimental pip install that mimics the version numbers of the pinned mamba install...
# unless you really know what you're doing, ignore this file and follow our mamba-based
# instructions for environment setup:
#
# https://github.com/agentmorris/MegaDetector/blob/main/megadetector.md#using-the-model
#
# Note to self... as of MDv5.0, we require torch 1.10.1, which doesn't exist for python versions
# great than 3.9, so...
# 
# mamba create -n "md-test" python=3.9 -y

Pillow == 9.1.0 
tqdm == 4.65.0
jsonpickle == 3.0.0
humanfriendly == 10.0

# Using yolov5's val.py (which is still experimental) for MDv5.0 requires a version
# of YOLOv5 that uses np.int, which was removed as of numpy 1.24.0
numpy == 1.23.5
matplotlib == 3.7.1
opencv-python == 4.5.5.64
requests == 2.31.0
pyqtree == 1.0.0
scikit-learn == 1.2.2

# For running MegaDetector v5
pandas == 2.0.1
# Not used directly, but used by YOLOv5 imports
seaborn == 0.12.2
PyYAML == 6.0

--extra-index-url https://download.pytorch.org/whl/cu113
torch == 1.10.1 
torchvision == 0.11.2

# Packaged with torch
# cuda-python == 11.3
# nvidia-cudnn == 8.1

# For running MegaDetector v4
# tensorflow> == 2.0

