#
# Experimental pip install that pins no version numbers... as of 2023.09.20, this appears to work
# with Python 11, the latest PyTorch (2.0.1), and the latest YOLOv5.  That said, unless you really
# know what you're doing, ignore this file and follow our mamba-based instructions for environment setup:
#
# https://github.com/agentmorris/MegaDetector/blob/main/megadetector.md#using-the-model
#

Pillow
tqdm
jsonpickle
humanfriendly

# Using YOLOv5's val.py from old versions of YOLOv5 requires a version
# np.int, which was removed as of numpy 1.24.0
#
# numpy == 1.23.5
numpy
matplotlib
opencv-python
requests
pyqtree
scikit-learn

# For running MegaDetector v5
pandas
# Not used directly, but used by YOLOv5 imports
seaborn
PyYAML

--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision

# This will also install "ultralytics"
yolov5

